.header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Times New Roman", Times, serif;
  font-size: larger;
  background-color: black;

  h2 {
    color: aliceblue;
  }
}
